# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data & Logs
data/raw/*
data/processed/*
logs/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!logs/.gitkeep

# IDE
.vscode/
.idea/
*.db

# Credentials & Keys
credentials.json
*.json
